#main-container p {
    font-size: 18px;
    margin: 0;
}

#main-container p#description {
    margin: 0 15px;
}

.clickable {
    cursor: pointer;
}

div.tooltip i {
    color: yellow;
}

div.tooltip i.fa {
    padding: 0 5px;
}

div.tooltip a {
    color: lightblue;
}

#main-container > div.conversion, div.result {
    margin-bottom: 20px;
}

::placeholder {
    color: darkgray!important;
    opacity: 0.75!important;
    font-style: italic;
}

:-ms-input-placeholder {
    color: darkgray!important;
}

::-ms-input-placeholder {
    color: darkgray!important;
}

#activity-indicator {
    padding: 5px;
}

.url {
    color:#428bca
}

div#result {
    background-color: aliceblue;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    margin: 10px 30px 0 30px;
    width: auto;
    max-width: none;
}

#result .row {
    width: 100%;
    margin: 0;
    padding-top: 20px;
}

#result p.description {
    margin-left: 15px;
    padding-bottom: 20px;
}

#result p.description, #result p.description i {
    font-size: 14px;
}

#result div.result-url p {
    font-size: 17px;
}

#result div.result-url {
    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 98%;
    display: flex;
    align-items: center;
}

#result p i {
    font-size: 15px;
    margin: 0 5px;
    color: black;
}

#result div.copy-icon {
    position: relative;
    display: flex;
    align-items: center;
}

#result div.copy-icon i {
    position: absolute;
    right: 0;
}

.browser div.fetching {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: fit-content;
    margin: 20px;
}

.browser div.fetching img {
    width: 20px;
    height: 20px;
}

table {
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

td.expand, td.action {
    vertical-align: top;
}

td.genomes div {
    max-height: 110px; 
    overflow: hidden;
}

thead th.name, th.name {
    width: 19px !important;
}

th.action {
    text-align: center;
    width: 150px;
}

td.action div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 5px;
}

td.action div.grid-item {
    margin: auto;
}

table th span {
    margin-right: 15px;
}

table .expand .fa {
    font-size: 20px;
}

table .action .fa {
    font-size: 17px;
    padding: 5px 10px;
}

.browser .row {
    position: relative;
}

#filter {
    margin: 0 !important;
    width: 420px;
    max-width: 420px;
    position: absolute;
    right: 0;
}

#filter #cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-35px, 0);
    color: gray;
    padding: 10px;
    z-index: 1000;
}

@media all and (max-width: 930px) {
    #filter {
        position: inherit;
    }
}

@media all and (max-width: 850px) {
    #filter {
        min-width: 100%;
        margin-top: 15px !important;
    }
}