#main-container p {
    font-size: 18px;
    margin: 0;
}

.clickable {
    cursor: pointer;
}

#main-container > div.conversion, div.browser {
    margin-bottom: 40px;
}

div.input, div.example {
    padding: 0 20px;
}

form.converter div.col {
    padding: 0;
}

div#process * {
    height: 36px;
    margin-right: 20px;
}

#activity-indicator {
    padding: 5px;
}

.url {
    color:#428bca
}

#example-fill {
    padding: 15px;
}

div.table-responsive {
    padding-left: 20px;
}

div#result {
    background-color: aliceblue;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    margin: 0 30px;
    width: auto;
}

#result .row {
    width: fit-content;
    margin: auto;
    padding: 20px;
}

.action div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-left: 15px;
}

.scrollable-fixed-head {
    overflow-y: auto;
    height: 500px;
}

thead tr {
    position: sticky;
    top: 0;
    transform: translate(0, -1px);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background: white;
    z-index: 3;
}

td .row {
    margin-right: 10px;
}

td.name, td.action {
    width: 150px;;
}

#filter {
    margin-bottom: 0!important;
    margin-left: 150px;
}