# Redirects to tell the world that these resources are no longer available.
# List used was what Google had in their index.
RedirectMatch 410 /CVS$
RedirectMatch 410 /CVS/

Redirect 410 /dasb2.cgi

Redirect 301 /plant_quickload  http://www.bioviz.org/quickload/
Redirect 301 /plant_quickload/ http://www.bioviz.org/quickload/

# This redirect points http://bioviz.org/ to /igb/.  It will need to be removed
# if we ever put a web page there
RedirectMatch 302 ^/$ http://www.bioviz.org/igb/

RedirectMatch 301 ^/plant_igb/(plant_igb[^/]*\.jnlp)$ http://www.bioviz.org/igb/releases/igb-4.56-plant/$1
RedirectMatch 301 ^/igb/(plant_igb[^/]*\.jnlp)$ http://www.bioviz.org/igb/releases/igb-4.56-plant/$1

Redirect 301 /plant_igb  http://www.bioviz.org/igb
Redirect 301 /igb_5.12   http://www.bioviz.org/igb/releases/igb-5.12
Redirect 301 /igb_5.3    http://www.bioviz.org/igb/releases/igb-5.3
Redirect 301 /igb_5.4    http://www.bioviz.org/igb/releases/igb-5.4
Redirect 301 /igb_5.5    http://www.bioviz.org/igb/releases/igb-5.5
Redirect 301 /igb_6.0    http://www.bioviz.org/igb/releases/igb-6.0.1
Redirect 301 /Protannot  http://www.bioviz.org/protannot
Redirect 301 /TableView  http://www.bioviz.org/tableview

Redirect 301 /igb/background.html    http://www.bioviz.org/igb/
Redirect 301 /igb/data.html          http://www.bioviz.org/igb/data.html
Redirect 301 /igb/old_download.shtml http://www.bioviz.org/igb/releases.html
Redirect 301 /igb/robots.txt         http://www.bioviz.org/robots.txt
Redirect 301 /igb/tdata.html         http://www.bioviz.org/igb/data.html
Redirect 301 /igb/whatdata.html      http://www.bioviz.org/igb/data.html
Redirect 301 /igb/WhenIClick.html    http://www.bioviz.org/igb/

#Redirects from old .shtml pages
Redirect 301 /igb/index.shtml    	 http://www.bioviz.org/igb/index.html
Redirect 301 /igb/faq.shtml   		 http://www.bioviz.org/igb/index.html
Redirect 301 /igb/download.shtml     http://www.bioviz.org/igb/download.html
Redirect 301 /igb/contact.shtml      http://www.bioviz.org/igb/contact.html
Redirect 301 /igb/overview.shtml     http://www.bioviz.org/igb/overview.html
Redirect 301 /igb/docs.shtml   		 http://www.bioviz.org/igb/help.html
Redirect 301 /igb/credits.shtml      http://www.bioviz.org/igb/credits.html
Redirect 301 /igb/news.shtml         http://www.bioviz.org/igb/news.html
Redirect 301 /igb/cite.shtml         http://www.bioviz.org/igb/cite.html
Redirect 301 igb/releases/    	     http://www.bioviz.org/igb/releases.html 


Redirect 301 /igb/releases/current/igb-splash.gif http://www.bioviz.org/igb/releases/current/igb_splash.gif

RedirectMatch 301 ^/igb/([^/]*\.gif)$ http://www.bioviz.org/igb/releases/current/$1
RedirectMatch 301 ^/igb/([^/]*\.jar)$ http://www.bioviz.org/igb/releases/current/$1
RedirectMatch 301 ^/igb/([^/]*\.jnlp)$ http://www.bioviz.org/igb/releases/current/$1
RedirectMatch 301 ^/igb/([^/]*\.xml)$ http://www.bioviz.org/igb/releases/current/$1
